<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <!-- Agrega enlaces a tus archivos CSS y Bootstrap si los tienes -->
    <!-- <link rel="stylesheet" href="tu_estilo.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-T6wB1giWgQQdk9aAzEMGv8PzauETQZlVq/88/fc4I6Lb0VRrj7MqV5ST93IfCh" crossorigin="anonymous"> -->
</head>

<body>
    <div class="container">
        <h2>Detalles del Producto</h2>
        <!-- Aquí puedes mostrar los detalles del producto seleccionado -->
        <p>Nombre: Producto 1</p>
        <p>Precio: $10.00</p>
        <p>Categoría: Electrónica</p>
        <!-- Agrega más detalles según la información del producto -->
    </div>
</body>

</html>
