<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
    <!-- Agrega enlaces a tus archivos CSS y Bootstrap si los tienes -->
    <!-- <link rel="stylesheet" href="tu_estilo.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-T6wB1giWgQQdk9aAzEMGv8PzauETQZlVq/88/fc4I6Lb0VRrj7MqV5ST93IfCh" crossorigin="anonymous"> -->
</head>

<body>
    <div class="container">
        <h2>Actualizar Producto</h2>
        <!-- Formulario para actualizar un producto -->
        <form action="/products/{id}/update" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" step="0.01" required>

            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>

            <button type="submit">Actualizar Producto</button>
        </form>
    </div>
</body>

</html>
